/*
Theme Name: Avada Child
Description: Child theme for Avada theme
Author: ThemeFusion
Author URI: https://theme-fusion.com
Template: Avada
Version: 1.0.0
Text Domain:  Avada
*/

/* RESET */

#homeheader {
	background-size: contain!important;
    background-repeat: no-repeat!important;
    padding-top: 39.25%!important;
}

#berekenblok {
	background: rgba(0,0,51,0.6);
}


.fusion-header-wrapper .fusion-row {
    padding-top: 10px;
}
.fusion-page-title-bar {
    border: none;
    background: #fff!important;
}
.fusion-header {
    height: 100px!important;
}

.fusion-logo {
    margin-top: 15px!important;
    margin-bottom: 0px!important;
}

.home #main { 
	padding-top: 0px;
}

#main { 
	padding-top: 0px!important;
	padding-bottom: 0px!important;
}

#main a:hover {
	text-decoration: underline;
}

.fusion-main-menu > ul > li > a {
    height: 97px!important;
}

.width-100 .fullwidth-box, .width-100 .fusion-section-separator {
    border: 0!important;
}

.fusion-testimonials.classic .testimonial-thumbnail {
	display: none;
}

.company-name strong {
    font-size: 16px;
    color: #003;
    font-weight: normal;
}

/* FONTS */

.fusion-page-title-bar h1 {
    text-transform: uppercase;
}


/* TEXT COLORS */

.brown { color: #C46712; }
.blue { color: #000033; }
.green { color: #59A735; }
.white { color: #fff; }
.red { color: #A73535;}

.fusion-footer-widget-area a:hover {
	color: #B3B3B3!important;
}

/* BACKGROUND COLORS */

.brownbg { background-color: #C46712; }
.bluebg { background-color: #000033; }
.greenbg { background-color: #59A735; }
.whitebg { background-color: #fff; }

/* ACCESSORIES */

.fusion-title .title-sep.sep-double {
    border-bottom-width: 1px;
    border-top-width: 3px;
    border-color: #000033;
}

/* TOP BAR */

.fusion-secondary-header {
    min-height: 43px
}

.fusion-header-v2 .fusion-secondary-header {
    border-top: 0px;
}

.fusion-secondary-menu > ul > li {
    border: 0;
}

/* FOOTER */

.fusion-footer-widget-area { 
	border: 0!important;
}

/*
#text-17 h4 {
    visibility: hidden;
}
*/

.fusion-footer p, .fusion-footer a {
    font-size: 16px;
}

i.fa {
    width: 34px;
    text-align: center;
    font-size: 24px;
}

#text-3, #text-18, #text-16, #text-17 {
    border-top: 3px solid #fff;
    padding-top: 20px;
}


.fusion-social-links-footer {
	width: 25%;
    text-align: left;
    float: right!important;
}

.fusion-copyright-notice {
    width: 75%;
    float: right;
}

.fusion-copyright-notice a {
	font-size: 12px;
}	

.nieuwsbrief {
    float: left;
    padding-top: 10px;
    padding-left: 20px;
}

.nieuwsbrief a { margin-left: 10px; margin-right: 10px;}

#yikes-mailchimp-container-1 {
    width: 332px;
    height: 36px;
	float: left;
}

input#yikes-easy-mc-form-1-EMAIL {
    width: 252px;
    float: left;
    padding: 10px;
    height: 36px!important;
	border-radius: 5px 0px 0px 5px;
	background: #fff;
	font-size: 15px;
    color: #A7A6A6;
}

.yikes-easy-mc-form .yikes-easy-mc-submit-button {
    width: 80px!important;
    float: left;
    margin-top: 0!important;
    height: 36px;
	background: #DDECED;
    min-height: 36px!important;
	border-radius: 0px 5px 5px 0px;
	border: 0px!important;
    font-size: 15px;
    font-weight: bold;
    padding: 0px 0px 0px 0px!important;
}


/*Home*/



.fusion-checklist {
    margin-top: 0px!important;
}

#checklist i { color: #59A735!important;}

#checklist .fusion-li-item-content {
	margin-left: 38px!important;
}

#checklist .fusion-checklist span.icon-wrapper {
    margin-right: 10px!important;
}

.fusion-recent-posts .columns .column h4 {
    font-size: 20px;
    height: 50px;
}


/* VERZEKERINGEN */
#verzekeringen .content-boxes .col {
    background-color: #fff!important;
    padding: 20px;
    min-height: 350px;
}

#verzekeringen .content-boxes .col .icon i {
    border-color: #000033!important;
    background-color: #000033!important;
    height: 64px!important;
    width: 64px!important;
    line-height: 64px!important;
    font-size: 41px!important;
}

.link-area-link-icon .content-container {
    padding-left: 85px;
}

.berekenpremie {
    background: #C46712;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    margin-right: 30px;
	position: relative;
    top: 20px;
}

.berekenpremie.landing{
    display: block;
    text-align: center;
}
.groot { 
	font-size: 24px;
}

.productinformatie { 
	padding: 10px 5px;
	background: transparent;
	border-radius: 5px;
	color: #C46712;
	position: relative;
    top: 20px;
}

#main .comment-submit, #reviews input#submit, #tribe-bar-form .tribe-bar-submit input[type=submit], #tribe-events .tribe-events-button, .button-default, .button.default, .comment-form input[type="submit"], .fusion-button-default, .fusion-portfolio-one .fusion-button, .ticket-selector-submit-btn[type=submit], .wpcf7-form input[type="submit"], .wpcf7-submit {
    background: #C46712;
}

span.wpcf7-list-item {
    display: block !important;
}


/* SERVICE & CONTACT */

#contactgegevens p, #contactgegevens td {
    font-size: 18px;
}

#contactgegevens td {
	padding-right: 10px;
}

#responsive-form{
	max-width:100% /*-- breedte form --*/;
	margin:0 auto;
        width:100%;
}
.form-row{
	width: 100%;
}
.column-half, .column-third, .column-twothird, .column-full, .column-three-fourth {
	float: left;
	position: relative;
	padding: 0.65rem;
	width:100%;
	-webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.wpcf7 input[type=text] {
	background-color:#fff; 
}
input[type=number] {    
	width: 100%;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 7px 0px 6px 8px;
}

.wpcf7-text, .wpcf7-textarea {
    border-radius: 5px!important;
    font-size: 18px!important;
    padding: 10px!important;
}

.wpcf7-text, .wpcf7-quiz, .wpcf7-number, .wpcf7-captchar, .wpcf7-date { 
    font-size: 18px!important;
}

.wpcf7-select-parent, .wpcf7-select, .wpcf7-text, .wpcf7-textarea {
    font-size: 18px!important;
}

.wpcf7-form input[type="submit"], .wpcf7-submit {
    background: #C46712!important;
}

.kentekeninput {
    width: 30% !important;
    height: 50px !important;
    padding: 0 0 0 10px !important;
    border-radius: 3px;
    text-align: center;
    font-size: 32px !important;
    position: relative;
    background: url("https://www.rdwdata.nl/images/template/kenteken_start.jpg") no-repeat 0 0 #f4be06 !important;
    background-size: contain !important;
    color: black !important;
    border: 3px solid black !important;
}



/**---------------- Media query ----------------**/
@media only screen and (min-width: 48em) { 
	.column-half{
		width: 50%;
	}
    .column-third{
        width: 33.33333333%;
    }
    .column-twothird{
        width: 66.66666666%;
    }
	.column-three-fourth {
		width: 75%;
	}
}
span.wpcf7-list-item {
    display: block;
}
/* end contact */

/* SIDEBAR SEO EMIL */

#sidebar h4 {
    display: none !important;
}


/* PRODUCTPAGINA */

.klantbeoordeling {
    margin-top: 50px;
    font-size: 16px;
}

.fusion-testimonials.classic blockquote q {
    background: #DDECED!important;
    font-size: 18px;
    font-style: normal;
    color: #000033!important;
}

.home .fusion-testimonials.classic blockquote q {
    background: #fff!important;
}

.full-boxed-pricing.fusion-pricing-table .panel-heading h3 {
    color: #333333;
    text-align: left;
    font-size: 24px;
}

.fusion-pricing-table .list-group-item {
    display: block;
    position: relative;
    padding: 10px 10px 10px 15px;
    background: none;
    border-radius: 0;
    border-top: 1px solid #e5e4e3;
    text-align: center;
    text-align: left;
    font-size: 13px;
    min-height: 73px;
}

.page-id-12083 .fusion-pricing-table .list-group-item {
    min-height: 45px;
}

.pricing-table-1 .list-group .list-group-item, .pricing-table-1 .list-group .list-group-item:last-child {
    background-color: #ffffff;
    border-color: #DDECED!important;
}

.pricing-table-1 .fusion-panel, .pricing-table-1 .panel-wrapper:last-child .fusion-panel, .pricing-table-1 .standout .fusion-panel, .pricing-table-1 .panel-heading, .pricing-table-1 .panel-body, .pricing-table-1 .panel-footer {
    border-color: #DDECED!important;
}

.prijs {
    color: #59A735;
    font-size: 16px;
}

.prijs strong { 
	font-size: 20px;
}

.pricing-table-1 .panel-body, .pricing-table-1 .panel-footer {
    background-color: #FFFFFF;
}

.pricing-table-1 .panel-container, .pricing-table-1.full-boxed-pricing {
    background-color: #DDECED!important;
}

.pricing-table-1 .standout .panel-container {
    background: #000033!important;
}

.full-boxed-pricing.fusion-pricing-table .panel-heading h3 {
    color: #000033!important;
}

.full-boxed-pricing.fusion-pricing-table .standout .panel-heading h3, .fusion-pricing-table .panel-body .price .decimal-part, .fusion-pricing-table .panel-body .price .integer-part {
    color: #000033!important;
}

.pricing-table-1 .panel-body, .pricing-table-1 .panel-footer {
    background-color: #FFFFFF!important;
}

#wrapper .fusion-button-round, #wrapper .button-round {
    padding: 10px 15px;
    border-radius: 5px;
    text-align: left;
	font-size: 18px;
	text-transform: none;
	margin-right: 0!important;
	margin-top: 10px;
}

/*
li.list-group-item.normal-row strong {
    font-size: 13px;
}
*/

li.list-group-item.normal-row {
	font-size: 13px;
}

.fusion-accordian .panel-title a .fa-fusion-box {
    background-color: #C46712!important;
    border-radius: 22px;
}

.fusion-accordian .panel-title .fusion-toggle-heading {
    color: #C46712;
    font-size: 18px;
    font-weight: normal;
}

.fusion-accordian .panel-body {
    padding: 0px 0 15px 40px;
}

.fusion-accordian .fusion-panel {
	border: 0!important;
}


/* VEELGESTELDE VRAGEN */

.fusion-filters {
    background: #DDECED;
}

.fusion-filters .fusion-filter.fusion-active a {
    border-color: #C46712!important;
    color: #C46712!important;
}

.fusion-filters {
    background: #DDECED;
    padding: 0px 0px 10px 0px;
    border: 0;
}

.fusion-filter a {
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
}


/* BLOG */
.fusion-blog-layout-grid .post .flexslider, .fusion-blog-layout-grid .post .fusion-content-sep, .fusion-blog-layout-grid .post .fusion-post-wrapper, .fusion-blog-layout-timeline .fusion-timeline-date, .fusion-blog-layout-timeline .fusion-timeline-line, .fusion-blog-layout-timeline .post, .fusion-blog-layout-timeline .post .flexslider, .fusion-blog-layout-timeline .post .fusion-content-sep, .fusion-blog-timeline-layout .post, .fusion-blog-timeline-layout .post .flexslider, .fusion-blog-timeline-layout .post .fusion-content-sep, .fusion-events-shortcode .fusion-layout-column, .fusion-portfolio.fusion-portfolio-boxed .fusion-content-sep, .fusion-portfolio.fusion-portfolio-boxed .fusion-portfolio-content-wrapper, .product .product-buttons, .product-buttons, .product-buttons-container, .product-details-container, .products li {
    border-color: #FFFFFF!important;
}

.fusion-blog-layout-timeline .fusion-timeline-circle, .fusion-blog-layout-timeline .fusion-timeline-date, .fusion-blog-timeline-layout .fusion-timeline-circle, .fusion-blog-timeline-layout .fusion-timeline-date {
    background-color: #FFFFFF!important;
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px;
}

[class^="fusion-icon-"], [class*=" fusion-icon-"] {
    color: #fff!important;
}

.fusion-post-wrapper {
    background: #fff!important;
}

.fusion-blog-timeline-layout .fusion-timeline-arrow:before, .fusion-blog-timeline-layout .fusion-timeline-icon, .fusion-timeline-arrow:before, .fusion-timeline-icon {
    color: #FFFFFF!important;
}

.fusion-blog-layout-timeline .fusion-post-timeline {
	border: 0;
}

.more a, .fusion-read-more {
    color: #C46712;
	font-size: 20px;
	font-weight: bold;
}

.more a:before, .fusion-read-more:before {
	content: "\f138";
	color: #C46712;
	font-family: FontAwesome;
	margin-right: 15px;
}

.more a:after, .fusion-read-more:after {
	display: none;
}

wrapper #main .fusion-portfolio-content > h2.entry-title, #wrapper #main .fusion-post-content > h2.entry-title, #wrapper #main .post > h2.entry-title, #wrapper .fusion-events-shortcode .fusion-events-meta h2 {
    font-size: 20px!important;
    text-transform: uppercase;
}

/* AGENDA */

.fusion-events-shortcode .fusion-events-thumbnail {
    width: 160px;
    float: left;
    height: 160px;
}

.fusion-events-shortcode .fusion-events-meta {
    padding-top: 0px;
	float: left;
}

.fusion-events-shortcode .fusion-full-one .tribe-events-event-image {
    height: 160px;
    width: 160px;
}

.fusion-full-one:nth-child(4n+1) {
    background-color: #DDECED!important;
}

.fusion-tabs .nav {
    background: #DDECED;
}

.fusion-tabs.fusion-tabs-1 .nav, .fusion-tabs.fusion-tabs-1 .nav-tabs, .fusion-tabs.fusion-tabs-1 .tab-content .tab-pane {
    border-color: #DDECED;
}

.fusion-tabs.fusion-tabs-1 .nav, .fusion-tabs.fusion-tabs-1 .nav-tabs, .fusion-tabs.fusion-tabs-1 .tab-content .tab-pane {
    border: auto!important;
}

.fusion-tabs.fusion-tabs-1 .nav-tabs li.active a, .fusion-tabs.fusion-tabs-1 .nav-tabs li.active a:hover, .fusion-tabs.fusion-tabs-1 .nav-tabs li.active a:focus {
    background-color: #DDECED!important;
    border-top: 3px solid #C46712!important;
	color: #C46712;
}


.fusion-tabs.fusion-tabs-1 .nav-tabs li.active a h4, .fusion-tabs.fusion-tabs-1 .nav-tabs li.active a:hover h4 {
	color: #C46712;
}

.fusion-tabs.fusion-tabs-1 .nav-tabs li a {
    border-top-color: #DDECED!important;
    background-color: #DDECED!important;
}

.fusion-tabs.fusion-tabs-1 .nav-tabs li a:hover {
    background-color: #DDECED!important;
    border: 0!Important;
}


.fusion-tabs .nav-tabs li .tab-link {
    margin-right: 0px!important;
}

/* AANVRAGEN */

a.huidige {
    text-decoration: underline;
    font-weight: bold;
}
/*
iframe { overflow:hidden; min-height: 1100px; height: 1100px;}
*/

iframe {
    visibility: visible !important; /*WP heeft het standaard uit? */
    opacity: 1 !important;
}

/* Contact form */

#responsive-form{
	max-width:100% /*-- breedte form --*/;
	margin:0 auto;
        width:100%;
}
.form-row{
	width: 100%;
}
.column-half, .column-third, .column-twothird, .column-full, .column-fourth{
	float: left;
	position: relative;
/*	padding: 0.65rem 0; */
	width:100%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.wpcf7 input[type=text] {background-color:#fff; border-color: rgba(53,53,53,0.15);}
input[type=number] {    width: 100%;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 7px 0px 6px 8px;
}

/**---------------- Media query ----------------**/
@media only screen and (min-width: 48em) { 
	.form-row {
		clear:both;
	}
	.column-half{
		width: 50%;
	}
    .column-third{
        width: 33.33333333%;
    }
	.column-fourth{
        width: 25%;
    }
    .column-twothird{
        width: 66.66666666%;
    }
}
span.wpcf7-list-item {
    display: block;
}
.smallbox{
	max-width: 320px;
}
input#geboortedatum {
	font-size: 18px;
}
.middlebox{
	max-width:50%
}

#huisnummer, #schadevrijejaren, #meldcode, #taxatiewaarde,#telefoonnummer, #polisnummer{
	max-width:25%;
}

.wpcf7-form .wpcf7-text, input[type="text"], input.wpcf7-form-control.wpcf7-text {
	color: #000033 !important;
} 


/* end contact */



/* FORMULIEREN */
#proces {
	background-color: #DDECED;
	margin-top: 20px;
	margin-bottom: 20px;
}

.vorigestap br { display: none; }

.vorigestap .wpcf7-back {
    padding: 13px 29px;
    line-height: 17px;
    font-size: 14px;
    margin-top: 0;
    position: relative;
    width: auto;
    background: #DDECED;
    border-radius: 2px;
    border: 0px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    float: right;
	color: #003;
}

.volgendestap input.wpcf7-form-control.wpcf7-submit:after {
	content: "\f138";
}

.vrijblijvendeofferte input.wpcf7-form-control.wpcf7-submit {
    background: transparent!important;
    color: #C46712;
}

.vrijblijvendeofferte input.wpcf7-form-control.wpcf7-submit:hover {
    background: transparent!important;
    color: #C46712;
}

.wpcf7-form .wpcf7-validation-errors {
	display: none!important;
}

.form-row:last-child {
	clear: both;
}

.wpcf7-form .wpcf7-not-valid-tip {
    position: absolute;
    display: table;
    font-size: 16px;
    background: #FF7878;
    border-radius: 5px;
    color: #fff;
    padding: 0px 5px;
}


.wpcf7-form-control-wrap #Kenteken {
    background: #F8E71C;
    border-left: 20px solid #003;
    padding-left: 5px!important;
    width: 120px!important;
    size: 50!important;
    font-size: 15px!important;
    padding-right: 0!important;
}

.wpcf7 strong {
    width: 230px;
    display: inline-block;
	vertical-align: top;
}


/* Thomas */
.formholder{
    position:absolute; 
    width: 375px; 
    background-color: rgba(0,0,0,.5); 
    color:#000000; 
    border-radius:10px;
    padding: 30px; 
    margin-left: 25px; 
    margin-top: 4%;
    z-index:11;
}
.formholder p{
    margin: 0 auto; 
    font-weight: bold; 
    color: white; 
    font-size: 27px;
}
.formholder h1 {
    color: white;
    font-size: 28px;
}
.formholder input[type="text"]{
    width:100%; 
    background: url('/wp-content/uploads/2015/12/kenteken.png');
    background-size: cover; 
    height: 50px; 
    border: none; 
    padding-left: 40px; 
    font-size: 40px;
    border-radius: 5px; 
    /*text-transform: uppercase; */
    color:black;
    display:none; /*mocht de input nog weer terug komen*/
}


.formholder input[type="submit"]{
    width:100%; 
    margin-top:10px;
    border-radius: 5px; 
    height:50px;
    font-weight: bold; 
    font-size: 17px; 
    border:none; 
    cursor:pointer;
    background: #C46712;
    color: #ffffff;
}
.formholder input[type="submit"]:hover{
    color: #000000;
}

.formholder .maatwerk input[type="submit"]{
    background: transparent;
    color: #ffffff;
	border: 2px solid #fff!important;
}
.formholder .maatwerk input[type="submit"]:hover{
    background: rgba(255,255,255,0.3);
	color: #fff;
}

.formholder i{
    color: white; 
    font-size: 15px; 
    width: 10px; 
    margin-right: 10px; 
    margin-top:10px;
    display:none; /* mocht het nog anders worden */
}
.formholder a{
    margin: 0 auto; 
    font-weight: bold; 
    color: white; 
    font-size: 16px;
}

.formholder .tax-online {
    padding-left: 34%;
}

@media only screen and (max-width: 768px) and (orientation: landscape) { 
    .formholder{
        position:relative; 
        width:100%; 
        background-color: rgba(0,0,0,1); 
        color:#000000; 
        border-radius:0px;
        margin-left: 0px; 
        margin-top: 0%;
    }
    .formholder input[type="text"]{width: 40%; height: 50px; font-size: 36px; display: none; /*inline-block;*/}
    .formholder input[type="submit"]{width: 40%; display: inline-block; margin-top:0px;}
	.vorigestap .wpcf7-back { float: left; }
}

@media only screen and (max-width: 768px) and (orientation: portrait) { 
    .formholder{
        position:relative; 
        width:100%; 
        background-color: rgba(0,0,51,1); 
        color:#000000; 
        border-radius:0px;
        margin-left: 0px; 
        margin-top: 0%;
    }
    .formholder input[type="text"]{width: 100%; height: 65px; font-size: 50px; padding-left: 50px;}
    .formholder input[type="submit"]{width: 100%; margin-top:10px;}
	.vorigestap .wpcf7-back { float: left; }
}

.wpcf7-form .post-content p { margin-bottom: 0!important;}

#ui-datepicker-div{z-index: 9999 !important;}

@media only screen and (max-width: 800px) {
.fusion-mobile-menu-design-modern.fusion-header-v2 .fusion-mobile-nav-holder {
	padding-top: 9px!important;
}
.fusion-mobile-menu-icons {
    margin-top: 18px!important;
}
.fusion-mobile-menu-icons a:before {
    color: #000033!important;
}
.fusion-secondary-menu > ul > li > a {
	padding: 0!important;
}
.fusion-copyright-notice {
    width: 100%!important;
}
.fusion-body .fusion-social-links-footer, .fusion-copyright-notice {
	width: 100%;
}
.link-area-link-icon .content-container {
	padding-left: 0px!important;
}
.berekenpremie {
    background: #C46712;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    margin-right: 0px!important;
    font-size: 15px;
    text-align: center;
	display: block;
}
.productinformatie {
    padding: 10px 15px;
    border-radius: 5px;
    color: #C46712;
    font-size: 15px;
    text-align: center;
    background: #fff;
	display: block;
}
}


@media screen and (min-width: 801px) and (max-width: 1010px) {
.berekenpremie {
    margin-right: 0px!important;
}
.link-area-link-icon .content-container {
    padding-left: 0px!important;
}
}

@media screen and (min-width: 801px) {
footer .col-lg-3:nth-child(2) {
    padding-right: 0;
}

footer .col-lg-3:nth-child(3) {
    padding-left: 0;
}
}

.fusion-page-title-captions {
    width:60%;
}

.fusion-page-title-secondary {
    width:40%;
}

/************************
***** CONTACT FORM ******
************************/

span.wpcf7-list-item {
    display: inline-block;
}

.wpcf7-form .wpcf7-text {
    width: 100%;
}

/*

.wpcf7 input[type=text],
.wpcf7 input[type=tel],
.wpcf7 input[type=email],
.wpcf7-select-parent .wpcf7-select,
textarea.wpcf7-form-control.wpcf7-textarea {
   width: calc(100% - 250px) !important;
}

.wpcf7 label {
    width: 200px;
    display: inline-block;
}

@media screen and (max-width: 600px) {
    .wpcf7 label, .wpcf7 input[type=text]  {
     width: 100%;
     display: block;
    }
}

*/


@media only screen and (max-width: 1000px) {
.formholder {
		margin-top: 0%!important;
}
}

/* DEFAULT WIDGETS */

.fusion-content-widget-area .widget {
    margin-bottom: 45px;
    position: relative;
    border: 4px double #DADADA;
    padding: 10px;
    font-size:18px;
}

.wpcf7-form .wpcf7-text, input[type="text"], input.wpcf7-form-control.wpcf7-text {
	color: #000033 !important;
} 

option {
    color: #000033;
}

a.berekenpremie.bcenter {
    margin: 0px !important;
    padding: 10px 47px;
}

.fusion-footer-widget-column{font-size:16px;}

/* Aanpassingen Thomas S&S Online Marketing */
.post-12905 .post-content a:hover{color:#C46712}
.post-12905 .post-content a {color:blue;font-size:14px}

/* Aanpassingen Stefan Vos S&S Online Marketing */
.wpcf7-not-valid-tip{
	z-index: 999;
}

.textwidget {
    line-height: 1.5;
}